/* list of color:

rgb(125, 146, 102) olive */
/* rgb(245, 239, 225) pink light */
/* rgb(112, 169, 195) blue sky */
/* rgb(197, 197, 197) gris cenizas */
/* rgb(209, 182, 108) dorado suave */
/* rgb(213, 142, 115) terracota */

/* media querys

@media screen and (min-width: 320px) and (max-width: 767px) */

/* @media screen and (min-width: 768px) and (max-width: 1023px) */

/* @media screen and (min-width: 1380px) and (max-width: 1950px) */


#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

/* HEADER */

/* .nav-header{ */
  /* background-color: rgb(125, 146, 102); */
/* } */


/* MAIN */

@media screen and (min-width: 320px) and (max-width: 767px){

  .section-nav{
    background-color: rgb(125, 146, 102);
  }

  #main-container{
    width: 100vw;
  }

  .box-main{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 50%;
    }
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
